.no-margin {
	margin: 0;
}

.fixed-panel {
	height: 100px;
	overflow-y: scroll;
}

.panel.panel-custom {
	margin-bottom: 0;
}

.patient-section {
	background-color: #f5f5f5;
	border-radius: 5px;
	height: 50%;
	padding: 10px 0 2px 10px;
	width: 66%;
}

textarea {
	box-sizing: border-box;
	line-height: 0px;
	outline: none;
	overflow: auto;
	padding: 0;
	resize: none;
	width: 100%;
	height: 100%;
}

.text-left {
	line-height: 1.9em;
	padding-left: 20px;
	padding-right: 20px;
}
