.App {
	text-align: center;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

body {
	background-color: grey !important;
	overflow-y: hidden;
}

.page-header {
	background-color: #f5f5f5;
	margin-top: 0 !important;
}
